<div class="container">
  <h3>Your Decks</h3>
  <div ng-repeat="deck in decks">
    <a href="/#/user/{{ deck.deckId }}"><p>{{ deck.deckName }}</p></a>
  </div>
  <div ng-attr-btn-view="{{ !named }}">
    <h2>Create a new deck</h2>
    <input class="form-control" type="text" placeholder="Deck name" ng-model="deckname">
    <button class="btn btn-lg btn-primary btn-block" ng-click="createDeck()">Create Deck</button>
  </div>
  <div ng-attr-btn-view="{{ named }}">
    <h3>Current Deck: {{ deckname }}</h3>
    <h3>Add cards</h3>
    <p>Question</p>
    <textarea class="form-control" ng-model="newQ"></textarea>
    <p>Answer</p>
    <textarea class="form-control" ng-model="newA"></textarea>
    <button class="btn btn-lg btn-primary btn-block" ng-click="addCard()">Add Card</button>
  <div>
  <button class="btn btn-lg btn-primary btn-block" ng-click="previousPage()">Decks</button>
  </div>
  </div>
</div>

 <!-- ng-show='currentView === "createDeck"'  -->
