<div class="container">
  <form class="form-signin" ng-submit="login()">
      <h1 class="form-signin-heading">Please Login</h1>
      <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username"></input>
      <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password"></input>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="Submit">Log in</button>
    </form>
  <a ui-sref="signup"><p class="text-center sign-up"><strong>Sign up</strong> for a new account</p></a>
