<div>
  <h1 id="deckTitle">{{ currentDeck.deckname }}</h1>
  <div id="card" ui-view>
    <h5 id="cardSide">{{ cardSide }}</h5>
    <h1 id="cardText">{{ showText }}</h1>
  </div>
  <div id="card-nav">
    <div>
      <button ng-click="prevCard()">Previous</button>
      <button ng-click="flipCard()">Flip</button>
      <button ng-attr-btn-view="{{ !showQ }}" ng-click="nextCard('N')">Incorrect</button>
      <button ng-attr-btn-view="{{ !showQ }}" ng-click="nextCard('Y')">Correct</button>
      <button ng-attr-btn-view="{{ showQ }}" ng-click="nextCard(null)">Next</button>
    </div>
    <a href="/#/user"><button ng-click="previousPage()">Decks</button></a>
  </div>

</div>

<!-- ng-show="currentView === 'currentDeck'" -->
