<h2 id="deckTitle">{{ deckName }}</h2>
<div id="card" ui-view>
  <h5 id="cardSide">{{ cardSide }}</h5>
  <h1 id="cardText">{{ showText }}</h1>
</div>
<div id="card-nav">
  <div class='btn' ng-click="prevCard()">Previous</div>
  <div class='btn' ng-click="flipCard()">Flip</div>
  <div class='btn' ng-attr-btn-view="{{ !showQ }}" ng-click="nextCard('N')">Incorrect</div>
  <div class='btn' ng-attr-btn-view="{{ !showQ }}" ng-click="nextCard('Y')">Correct</div>
  <div class='btn' ng-attr-btn-view="{{ showQ }}" ng-click="nextCard(null)">Next</div>
</div>
<a ui-sref="home">Home</a>
